$color-laboratoria: rgba(250, 168, 26,0.8);
$color-secciones: #2E2E2E; 
$fuente-titulos: 40px Arial;
$fuente-textos: Arial;
$color-texto-predominante: white; 
$ancho-titulos: 100px;
$ancho-footer: 70px;
$ancho-links: 30px;
$margen-cero: 0 auto; 
$alinear-centro: center;
$alinear-izquierda: left;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";